@charset "UTF-8";

/*
 Paleta de cores
 Verde: #49a09d
 Lilás: #5f2c82

*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}


body, html{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
   
     position: absolute;
     top: 10%;
     left: 35%;
     transform: translate(-50% -50%);
     background-color: white;
     width: 250px;
     height: 500px;
     border-radius: 20px;
     overflow: hidden;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.412);
    

    
}

    section#login > div#imagem{
        display: block;
        background: #5f2c82 url(../imagens/pexels-vinícius-estevão-2896034.jpg) no-repeat; background-size: cover;
        background-position: left bottom;
        height: 200px;
    }

    section#login > div#formulario{
        display: block;
        padding: 10px;
    }